extends layout

block content
  main
    section.jumbo
      .left-jumbo
        img(src='../images/1.jpg' alt='')
      .right-jumbo
        h1= title
        p Simple site for showing and adding messages
    section.add-message
      button
        a(href='/new') ADD MESSAGE
    section.messages
      h2 Messages
       ul
      each message in messages
        li()
          div().messageText= message.text
          div()= `author: ${message.user} date: ${message.added}`