extends layout

block content
  main
    section.jumbo
      .left-jumbo
        img(src='../images/1.jpg' alt='')
      .right-jumbo
        h1 Odin Mini Message Board
        p Simple site for showing and adding messages
    section.messages
      h2 Messages