body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: #987654;
}

a {
  color: #00b7ff;
}

main {
  margin: 0 auto;
  max-width: 720px;
  border: 2px solid white;
  border-radius: 20px;
  padding: 20px;
}

section.jumbo {
  display: flex;
}

.left-jumbo img {
  width: 180px;
  border-radius: 20px;
}
.right-jumbo {
  margin: 0 20px;
}
.add-message {
  margin: 20px 0;
}
button {
  padding: 5px 15px;
  background-image: linear-gradient(to right, #d36fd3, #b4abab);
  border: none;
  border-radius: 20px;
}
button:hover {
  background-image: linear-gradient(to left, #d36fd3, #b4abab);
}
button:active {
  box-shadow: inset 0 0 3px 1px black;
}

a {
  text-decoration: none;
  color: black;
}

.messages {
  list-style: none;
}
.messages li {
  margin: 20px 0;
}
.messages li div.messageText {
  font-size: 1.4rem;
}

form input {
  margin: 20px;
}
form input[name="message"] {
  width: 200px;
}
